@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: LatoRegular;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lato-Semibold.ttf");
  font-family: LatoSemibold;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lato-Bold.ttf");
  font-family: LatoBold;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Lato-Heavy.ttf");
  font-family: LatoHeavy;
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1172px;
}

.header {
  background: #10101D;
  opacity: 90%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s linear;
  z-index: 2;
}

.header.scrolly {
  opacity: 95%;
}

.header.active {
  opacity: 100%;
}

.header__container {
  padding: 33px 14px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  max-width: 247px;
  height: 35px;
}

.logo img {
  width: 100%;
}

.nav {
  position: relative;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.burger {
  display: none;
  width: 24px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.burger-line {
  width: 100%;
  height: 4px;
  background: #BBBBBB;
  border-radius: 2px;
}

.burger:hover .burger-line {
  background: #3E9CDC;
}

.burger-line:nth-child(2) {
  margin: 3px 0;
}

.nav-menu__item {
  font-family: LatoSemibold, sans-serif;
  font-size: 13px;
  margin-right: 60px;
}

.nav-menu__item:last-child {
  margin-right: 0;
}

.nav-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: LatoSemibold, sans-serif;
  font-size: 13px;
  color: #ffffff;
}


.nav-menu__item a:hover {
  color: #43ABF0;
}

.nav-menu__item a.active {
  color: #43ABF0;
}

.main {
  background-image: url("../images/main-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main__container {
  padding: 203px 14px 340px;
}

.title span {
  color: #3E9CDC;
}

.intro__title {
  font-family: LatoBold, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  max-width: 780px;
  margin-bottom: 80px;
  color: #000000;
}

.intro-info {
  max-width: 534px;
  margin-bottom: 80px;
}

.intro-info__title {
  font-family: LatoBold, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.intro-info__text {
  list-style: none;
}

.intro-info__item {
  font-family: LatoRegular, sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.intro-info__item:last-child {
  margin-bottom: 0;
}

.intro-info__item::before {
  content: '-';
  margin: 0 11px 0 10px;
}

.intro__action {
  display: flex;
  justify-content: space-between;
  max-width: 396px;
}

.button {
  box-sizing: border-box;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 2px;
  border-radius: 4px;
  text-transform: uppercase;
}

.intro__action .button {
  width: 183px;
  border-style: solid;
}

.intro__action_button_order {
  border-color: #ffffff;
  background: #3E9CDC;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
  font-family: LatoRegular, sans-serif;
  font-size: 13px;
}

.intro__action_button_order:hover {
  background: #2A2B30;
}

.intro__action_button_more {
  border-color: #6F6D7B;
  background: #ffffff;
  color: #2A2B30;
  cursor: pointer;
  font-family: LatoRegular, sans-serif;
  font-size: 13px;
}

.intro__action_button_more:hover {
  background: #2A2B30;
  color: #ffffff;
}

.order {
  background-image: url("../images/order-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.order__container {
  padding: 67px 14px;
}

.order__title {
  text-transform: uppercase;
  font-family: LatoHeavy, sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.order__text {
  font-family: LatoRegular, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #BBBBBB;
  margin-bottom: 80px;
}

.order-info {
  margin-bottom: 80px;
  position: relative;
}

.dots {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  column-gap: 129px;
  position: absolute;
  top: 50px;
  left: 170px;
}

.dots__item {
  display: flex;
  justify-content: space-between;
  max-width: 110px;
}

.dots__item_dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #C4C4C4;
}

.order-info__menu {
  display: grid;
  grid-template-columns: repeat(5, 209px);
  column-gap: 30px;
  position: relative;
  z-index: 1;
  list-style: none;
}

.order-info__menu_link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: unset;
}

.order-info__menu_link a svg {
  width: 100px;
}

.order-info__menu_link a svg > * {
  cursor: pointer;
}

.order-info__menu_link a svg {
  transition: all .3s ease-out;
}

.order-info__menu_link a svg:hover {
  transform: scale(1.1, 1.1);
}

.order-info__menu_link a svg {
  margin-bottom: 20px;
}

.order-info__menu_text {
  font-family: LatoRegular, sans-serif;
  font-size: 16px;
  max-width: 195px;
  text-align: center;
  color: #ffffff;
}

.order__form {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 370px));
  grid-template-rows: 48px 48px 1fr;
  grid-template-areas:
                  "type email name"
                  "range range add-file"
                  "send send send";
  column-gap: 30px;
  row-gap: 30px;
}

.type {
  grid-area: type;
}

.email {
  grid-area: email;
}

.name {
  grid-area: name;
}

.range {
  grid-area: range;
}

.add-file {
  grid-area: add-file;
}

.order__form_action {
  grid-area: send;
}

.type,
.email,
.name,
.add-file {
  padding: 12px 35px 12px 10px;
  background: #dfdfe1;
  border-radius: 3px;
  border: 0;
  color: #272733;
  font-family: LatoRegular, sans-serif;
  font-size: 18px;
  outline: none;
}

.email::placeholder,
.name::placeholder {
  color: #272733;
}

.type {
  position: relative;
  padding: unset;
}

.select {
  position: relative;
  padding: 12px 35px 12px 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-image: url(../images/select-arrow.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 26px);
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  color: #272733;
  background-color: #dfdfe1;
}

.select.open {
  background: url("../images/select-open-arrow.png") no-repeat calc(100% - 26px);
  border-bottom: 1px solid #272733;
  background-color: #dfdfe1;
}

.inside {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 48px;
  background: white;
  transition: max-height 0.5s;
}

.select-option {
  padding: 12px 10px;
}

.select-option:hover {
  cursor: pointer;
  background: #3E9CDC;
  color: #ffffff;
}

.range__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.range_text {
  font-family: LatoRegular, sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-right: 10px;
}

.range_percents {
  font-family: LatoSemibold, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ffffff;
  height: 6px;
  background-color: #dfdfe1;
  box-sizing: border-box;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  border: 1px solid #ffffff;
  height: 6px;
  background-color: #dfdfe1;
  box-sizing: border-box;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
  border: 1px solid #ffffff;
  height: 6px;
  background-color: #dfdfe1;
  box-sizing: border-box;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 23px;
  height: 23px;
  background: #42A9ED;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #286690;
  cursor: pointer;
  margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: #42A9ED;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #286690;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: 23px;
  height: 23px;
  background: #42A9ED;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #286690;
  cursor: pointer;
}

.add-file {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #ffffff;
}

.add-file span {
  margin-left: 10px;
  text-transform: uppercase;
  font-family: LatoSemibold, sans-serif;
  font-size: 15px;
}

.order__form_action {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.order__form_button {
  width: 370px;
  padding: 18px;
  border-color: #ffffff;
  background: #3E9CDC;
  color: #ffffff;
  cursor: pointer;
  font-family: LatoSemibold, sans-serif;
  font-size: 15px;
  transition: .1s linear;
}

.order__form_button:hover {
  box-shadow: 0 0 10px 4px rgba(250 250 250 /1);
  color: #3D4050;
  font-family: LatoHeavy, sans-serif;
}

footer {
  background: #3D4050;
}

.footer__container {
  padding: 30px 14px;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 1px;
  height: 18px;
  background: #C3C3C3;
  margin: 0 40px;
}

.rights {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: LatoRegular, sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.money,
.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.money__item,
.contacts__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.money__item:nth-child(2) {
  margin: 0 38px;
}

.money__item svg,
.contacts__item svg {
  margin-right: 10px;
}

.money__item span {
  font-family: LatoRegular, sans-serif;
  font-size: 13px;
  color: #C3C3C3;
}

.contacts__item:nth-child(1) {
  margin-right: 38px;
}

.contacts__item span {
  font-family: LatoRegular, sans-serif;
  font-size: 13px;
  color: #ffffff;
}
